/* frontend/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Vazir:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
   font-family: 'Vazir', sans-serif;
}